
<app-github></app-github>
<div class="page">
<div class="container">
  <h1>Github User Search<h1>
    <div>
<form class="jumbotron">
    <div class="form-group">
      <h2>Github Username:</h2>
        <input type="text" class="form-control" placeholder="Enter Username" name="username" [(ngModel)]="username" (keyup)="searchUser()">
    </div>
    <div style="text-align:center;">
      <button type="submit" class="btn btn-default" style="text-align:center,">search</button>
    </div>
  </form>


  <div class="col-sm-9">
      <img src="{{users.avatar_url}}" style="width:215px; border-radius:50%; border-color:green;">
      <div style="float:left;">
        <h4>{{users.name}}</h4>
        <h4>Repositories: {{users.public_repos}}</h4>
        <h4>Followers: {{users.followers}}</h4>
        <h4>Following: {{users.following}}</h4>
        <h4>Stars: {{users.stars}}</h4>

      </div>
    </div>

    <div class="container">
      <div class="col-md-9">
        <div class="heading">
        <h3>REPOSITORIES:</h3>
        </div>
        <p></p>
        <div *ngFor="let repo of githubData">
          <div class="row">
            <div class="col-md-9">
                <!-- <h4><a [href]="githubData.html_url">{{repo.name}}</a></h4> -->
                <h4 class="clearfix">
                <li id="{{i}}"appStrikethrough>{{repo.name}}</li><p><a href="{{repo.html_url}}" target="_blank"
                class="btn btn-sm btn-info pull-right">
                  View this project on Github</a></p></h4>
                <h5><p>{{repo.description}}</p></h5>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
